<ion-view cache-view="false" title="Recordatorios">
	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
	  <a class="btn-floating btn-large teal accent-4" ng-click="abrirModa()">
	    <i class="micon big-icon">alarm_add</i>
	  </a>
	</div>
	<ion-content ng-class="{'void-l':!alarmas.length}" overflow-scroll="false">
    <div class="list card cardX" ng-if="alarmas.length">
				<div class="item item-avatar" ng-repeat="noti in alarmas">
					<img ng-src="img/alarm.svg" />
					<h2>{{noti.message}}</h2>
				  <p>
						<span class="right">
							{{noti.hora}}
						</span>
					</p>
				</div>
    </div>
    <div class="center" ng-if="!alarmas.length">
        <img width="50%" src="img/alarm_off.svg"/>
        <h5 class="blue-grey-text" >No tiene ningún recordatorio</h5>
    </div>
  </ion-content>
</ion-view>
