 <ion-view cache-view="true" view-title="Clientes">
  <ion-header-bar class="bar-subheader headerbar item-input-inset row row-p">
      <div class="input-field col s12 input-header">
        <i class="micon prefix">search</i>
        <input type="text" name="buscar" ng-change="reload()" class="white-text" placeholder="Buscar" ng-model="search" >
      </div>
  </ion-header-bar>
  <ion-content overflow-scroll=”true”>
      <ion-refresher
       pulling-text ="Refrescar"
       on-refresh="reload()"
       refreshingText="Refrescando"
       >
     </ion-refresher>
      <ion-list>
        <ion-item collection-repeat="cliente in clientelists" item="cliente" href="#/app/info/{{cliente.id}" class="item item-avatar">
            <img ng-src="{{server}}/media/{{cliente.imagen}}" ng-if="cliente.imagen!==''">
            <img ng-src="img/user.png" ng-if="cliente.imagen==''"/>
            <h2>{{cliente.first_name}} {{cliente.last_name}}</h2>
            <p>
              <b>Tipo: </b><span ng-if="cliente.tipo">Propietario/a</span><span ng-if="!cliente.tipo">Arrendatario/a</span><br>
            </p>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
  </ion-content>
  <ion-footer-bar class="headerbar footer-f">
    <div class="row row-p ">
      <button ng-click="scanearCodigo()" class="btn btn-large waves-effect waves-light light-blue waves-effect col s12"><i class="micon">crop_free</i> Escanear codigo QR</button>
    </div>
  </ion-footer-bar>
</ion-view>
