 <ion-view cache-view="false" view-title="Clientes">
  <ion-header-bar class="bar bar-subheader headerbar item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Buscar" ng-model="search">
      </label>
      <button class="button button-outline button-light" ng-click="search=''">
         Limpiar
      </button>
  </ion-header-bar>
  <ion-content overflow-scroll=”true”>

      <ion-refresher
       pulling-text ="Refrescar"
       on-refresh="reload()"
       spinner="ripple">
     </ion-refresher
      <ion-list show-delete="false" can-swipe="true">
        <ion-item ng-repeat="cliente in clientelists|filter:search" item="cliente" href="#/app/info/{{cliente.id}}" class="item-icon-left">
            <i class="icon ion-person"></i>
            <h2>{{cliente.first_name}} {{cliente.first_name}}</h2>
            <p>{{cliente.email}}</p>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
