<ion-view title="Historial de Reportes">
    <ion-header-bar class="bar-subheader headerbar item-input-inset row row-p">
        <div class="input-field col s12 input-header">
            <i class="micon prefix">search</i>
            <input type="text" name="buscar" class="white-text" ng-change="reload2()" placeholder="Buscar" ng-model="search">
        </div>
    </ion-header-bar>
    <ion-content overflow-scroll=”true”>
        <ion-refresher pulling-text="Refrescar" on-refresh="reload()" refreshingText="Refrescando"></ion-refresher>
        <ul class="collapsible popout" data-collapsible="accordion" watch>
            <li ng-repeat="reporte in reportes|filter:search track by reporte.id">
                <div class="collapsible-header grey lighten-5">
                    <ul class="collection grey lighten-5">
                        <li class="collection-item  grey lighten-5">
                            <span class="title"><b ng-class="{'light-blue-text':reporte.id == actual}">Reporte:</b> {{reporte.nombre}}</span>
                            <p>
                                <b ng-class="{'light-blue-text':reporte.id == actual}">Cliente:</b> {{reporte.nombreC}} {{reporte.apellidosC}}
                                <br>
                                <b ng-class="{'light-blue-text':reporte.id == actual}">Fecha:</b> {{reporte.fecha}}
                                <br>
                                <b ng-class="{'light-blue-text':reporte.id == actual}">Emitido por:</b> {{reporte.user}}
                                <b ng-class="{'light-blue-text':reporte.id == actual}">Estado:</b><b class="light-blue-text" ng-show="reporte.estado"> Cerrado</b> <b class="red-text" ng-show="!reporte.estado"> Abierto</b>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="collapsible-body row row-p grey lighten-5">
                    <ul class="collection">
                        <li class="collection-item">
                            <b>Piscina:</b> {{reporte.piscina__nombre}}
                        </li>
                        <li class="collection-item">
                            <b>Tipo:</b> {{reporte.tipo_n}}
                        </li>
                        <li class="collection-item">
                            <b ng-show="reporte.cierre == 1">Cierre: Automático</b><b ng-show="reporte.cierre == 2">Cierre: Parcial</b><b ng-show="reporte.cierre == 3">Cierre: A satisfacción</b>
                        </li>
                        <li class="collection-item">
                            <b>Descripción:</b> {{reporte.descripcion}}
                        </li>
                        <li class="collection-item">
                            <div class="row row-p">
                                <a href="#/app/galeria/reportes/{{reporte.id}}" class="btn-large waves-effect waves-light green accent-3 col" ng-class="{'s6': !reporte.estado, 's12':reporte.estado}">
                                    <i class="micon">collections</i>
                                    Fotos</a>
                                <a href="#/app/respuestas/{{reporte.id}}" class="btn-large waves-effect waves-light light-blue col s6" ng-show="!reporte.estado">
                                    <i class="micon">question_answer</i>
                                    Respuestas</a>
                                 <a href="#/app/mantenimiento/{{reporte.id}}" class="btn btn-large waves-effect waves-light red lighten-2 col s12" ng-show="!reporte.estado"><i class="micon" >build</i> Solución</a>
                                <a href="#/app/historial/mantenimientos/{{ reporte.id }}/0" class="btn btn-large waves-effect waves-light red lighten-2 col s12" ng-show="reporte.estado && reporte.cierre !== 1"><i class="micon">build</i> Historial de Soluciones</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
