<ion-view view-title="Scroll with {{items.length}} items">
	<ion-content>
		 <ion-refresher
		    pulling-text="Pull to refresh..."
		    on-refresh="loadMore()">
		  </ion-refresher>
       <ion-list can-swipe="false">

         <ion-item ng-repeat="item in items"
                   item="item"
                   href="#/item/{{item.id}}">
           Item {{ item.id }}
         </ion-item>

       </ion-list>

       <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>

     </ion-content>
</ion-view>
