<ion-view cache-view="false" view-title="Info">
  <ion-header-bar class="bar bar-subheader light-blue " ng-show="dataReady">
     <h2 class="title centrar white-text">{{info.cliente.first_name}} {{info.cliente.last_name}}</h2>
  </ion-header-bar>
  <ion-content>
    <link rel="stylesheet" href="lib/materialize-css/dist/css/materialize.min.css">
    <div class="spin" ng-if="!dataReady">
      <ion-spinner></ion-spinner>
    </div>
    <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large light-blue waves-effect">
        <i class="micon">apps</i>
      </a>
      <ul>
        <li><a href="#/app/reporte/{{info.id}}" class="btn-floating red"><i class="micon">report</i></a><span class="action-title">Reporte</span></li>
        <li><a href="#/app/reparacion/{{info.id}}" class="btn-floating light-blue"><i class="micon">build</i></a><span class="action-title">Reparación</span></li>
        <li><a href="#/app/mantenimiento/{{info.id}}" class="btn-floating green"><i class="micon">done_all</i></a><span class="action-title">Mantenimiento</span></li>
      </ul>
    </div>
    <div class="row" ng-if="dataReady">
      <div class="list card col s12 grey lighten-5">
          <div class="item item-avatar grey lighten-5">
              <img src="{{server}}/media/{{cliente.imagen}}" ng-if="info.cliente.imagen !=''">
              <img src="img/mario.png" ng-if="info.cliente.imagen ==''"/>
              <b>Nombre: </b><h2>{{info.cliente.first_name}} {{info.cliente.last_name}}</h2>
              <b>Dirección: </b>{{info.cliente.direccion}}
          </div>
          <div class="item item-icon-left  grey lighten-5">
            <i class="icon ion-android-call"></i>
             {{info.cliente.telefono}}
          </div>
          <div class="item item-icon-left  grey lighten-5">
            <i class="icon ion-email"></i>
             {{info.cliente.email}}
          </div>
          <a  class="item item-icon-left  grey lighten-5" ng-repeat="casa in info.casas" href="#/app/asignargps/{{casa.id}}/{{casa.latitud}}/{{casa.longitud}}">
            <i class="icon ion-home"></i>
            {{casa.direccion}}
          </a>
        </div>
    </div>
  </ion-content>
</ion-view>
