<ion-header-bar class="bar-assertive" align-title="center">
    <h1 class="title">Iniciar sesión</h1>
</ion-header-bar>
<ion-view hide-nav-bar="true">
	<ion-content>
    <div class="spin" ng-if="!loginReady">
      <ion-spinner></ion-spinner>
    </div>
    <form name="form" ng-submit="form.$valid && doLogin()" novalidate ng-if="loginReady">
      <div class="list">
        <label class="item item-input" ng-class="{'has-errors':form.username.$invalid && form.$submitted,'no-errors':form.username.$valid && form.$submitted}">
          <span class="input-label">Usuario</span>
          <input type="text" name="username" ng-model="loginData.username" required>
        </label>
        <div class="error-container" ng-show="form.username.$error && form.$submitted" ng-messages="form.username.$error">
          <div ng-messages-include="templates/error-list.html"></div>
        </div>
        <label class="item item-input" ng-class="{'has-errors':form.password.$invalid && form.$submitted, 'no-errors':form.password.$valid && form.$submitted}">
          <span class="input-label">Contraseña</span>
          <input type="password" name="password" ng-model="loginData.password" required>
        </label>
        <div class="error-container" ng-show="form.password.$error && form.$submitted" ng-messages="form.password.$error">
          <div ng-messages-include="templates/error-list.html"></div>
        </div>
        <label class="item">
          <button class="button button-block button-dark"  type="submit">Entrar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
