<ion-view view-title="Mantenimiento">
<ion-content>
<form name="form" ng-submit="form.$valid && doRegistro()" novalidate>
  <div class="list">
    <label class="item item-input item-stacked-label" ng-class="{'has-errors':form.nombre.$invalid && form.$submitted,'no-errors':form.nombre.$valid && form.$submitted}">
      <span class="input-label">Nombre</span>
      <input type="text" name="nombre" ng-model="data.nombre" required>
    </label>
    <div class="error-container" ng-show="form.nombre.$error && form.$submitted" ng-messages="form.nombre.$error">
      <div ng-messages-include="templates/error-list.html"></div>
    </div>
    <label class="item item-input item-stacked-label" ng-class="{'has-errors':form.descripcion.$invalid && form.$submitted,'no-errors':form.descripcion.$valid && form.$submitted}">
      <span class="input-label">Descricción</span>
      <textarea type="text" heigth="500px" ng-model="data.descripcion" name="descripcion" required></textarea>
    </label>
    <div class="error-container" ng-show="form.descripcion.$error && form.$submitted" ng-messages="form.descripcion.$error">
      <div ng-messages-include="templates/error-list.html"></div>
    </div>
    <label class="item item-input">
      <span class="input-label">Tomar foto</span>
      <button class="button  button-outline button-calm" ng-click="takePicture()">
      <i class="icon ion-camera"></i>
      </button>
    </label>
    <label class="item item-input">
      <span class="input-label"> Galeria</span>
      <button class="button  button-outline button-dark" ng-click="getGallery()">
      <i class="icon ion-images"></i>
      </button>
    </label>
    <label class="item item-input">
      <span class="input-label">Imagenes ({{total}})</span>
      <button class="button  button-outline button-balanced" ng-disabled="total==0" ng-click="verGaleria()">
      <i class="icon ion-image"></i>
      </button>
    </label>
    <label class="item">
      <button class="button button-block button-positive" ng-click="" type="submit">Enviar</button>
    </label>
  </div>
</form>
</ion-content>
</ion-view>