<ion-view view-title="Mantenimiento">
<ion-content>
<div class="spin" ng-if="!ready">
  <ion-spinner></ion-spinner>
</div>
<div class="row" ng-if="ready">
  <form class="col s12" name="form" ng-submit="form.$valid && datosForm()" novalidate>
    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="nombre" name="nombre" ng-model="data.nombre" ng-class="{'has-errors':form.nombre.$invalid && form.$submitted,'no-errors':form.nombre.$valid && form.$submitted}" required>
        <label for="nombre">Nombre</label>
        <div class="error-container" ng-show="form.nombre.$error && form.$submitted" ng-messages="form.nombre.$error">
          <div ng-messages-include="templates/error-list.html"></div>
        </div>
      </div>
     </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea type="text" id="descripcion"  class="materialize-textarea" ng-model="data.descripcion" name="descripcion" required ng-class="{'has-errors':form.descripcion.$invalid && form.$submitted,'no-errors':form.descripcion.$valid && form.$submitted}"></textarea>
        <label for="descripcion">Descricción</label>
        <div class="error-container" ng-show="form.descripcion.$error && form.$submitted" ng-messages="form.descripcion.$error">
          <div ng-messages-include="templates/error-list.html"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="col s4">
          <button type="button" class="btn-large waves-effect waves-light  light-blue" ng-click="takePicture()">
          <i class="icon ion-camera"></i>
          </button>
        </div>
        <div class="col s4">
          <button type="button" class="btn-large waves-effect waves-light light-blue" ng-click="getPicture()">
          <i class="icon ion-images"></i>
          </button>
        </div>
        <div class="col s4">
          <button type="button" class="btn-large waves-effect waves-light light-blue" ng-disabled="total==0" ng-class="{'disabled':total==0}" ng-click="verGaleria()">
          <i class="icon ion-image"></i><span class="badge-x" ng-show="total>0">{{total}}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button class="btn-large waves-effect waves-light light-blue col s12"  type="submit">Enviar
          <i class="ion-android-send"></i>
        </button>
      </div>
    </div>
    <!--div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <button class="btn-large waves-effect waves-light blue-grey btn-floating" type="submit"><i class="ion-paper-airplane"></i></button>
    </div-->
  </form>
</div>
</ion-content>
</ion-view>
