<ion-view cache-view="true" view-title="Piscineros">
	<ion-content overflow-scroll=”true”>
    <ion-refresher
     pulling-text ="Refrescar"
     on-refresh="reload()"
     spinner="ripple"
     refreshingText="Refrescando"
     >
   </ion-refresher>
		<ul class="collapsible popout" data-collapsible="accordion">
			<li ng-repeat="piscinero in piscineros|filter:search">
				<div class="collapsible-header">
					<ul class="collection">
						<li class="collection-item avatar">
				        <img src="{{server}}/media/{{piscinero.imagen}}" ng-if="piscinero.imagen !='' || piscinero.imagen !=null" class="circle"/>
		            <img src="img/mario.png" ng-if="piscinero.imagen =='' || piscinero.imagen ==null" class="circle"/>
					      <span class="title">{{piscinero.first_name}} {{piscinero.last_name}}</span>
								<p>
									Telefono: {{piscinero.telefono}}
								</p>
						</li>
					</ul>
				</div>
      	<div class="collapsible-body row">
						<p class="col s12">
							Telefono: {{piscinero.telefono}} <br>
							Email: {{piscinero.email}} <br>
							Dirección: {{piscinero.direccion}} <br>
							Fecha de nacimiento: {{piscinero.fecha_nacimiento}}
						</p>
							<a href="#/app/ruta/{{piscinero.id}}" class="btn-large waves-effect waves-light green accent-3 col s6"><i class="ion-ios-location"></i> Ruta</a>
							<a href="#/app/asignacionpiscina/{{piscinero.id}}" class="btn-large waves-effect waves-light light-blue col s6"><i class="ion-waterdrop"></i> Piscinas</a>
      	</div>
			</li>
		</ul>
		<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
	</ion-content>
</ion-view>
