<ion-modal-view>
  <ion-header-bar class="headerbar">
    <h1 class="title">Piscina</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="cerrarModal()"><i class="micon">close</i></button>
    </div>
  </ion-header-bar>
  <ion-content overflow-scroll="false">
    <div class="list card cardX grey lighten-5">
      <div class="item center  grey lighten-5">
        <b>Piscina</b> {{infoPiscina.nombre}} <b>Tipo</b> {{infoPiscina.tipo__nombre}}
      </div>
      <div class="item center grey lighten-5">
        <b>Ancho:</b> {{infoPiscina.ancho}} <b>Largo:</b> {{infoPiscina.largo}} <b>Profuntidad:</b> {{infoPiscina.profundidad}}
      </div>
      <div class="item item-body center grey lighten-5">
        <img width="77%" ng-src="{{server}}/media/{{infoPiscina.imagen}}" ng-if="!change">
        <img width="50%" ng-click="takePicture(infoPiscina.id)" ng-src="{{noFoto}}" ng-if="change"/>
        <h2 class="teal-text accent-4-text" ng-if="!edit" ng-click="takePicture(infoPiscina.id)">Cambiar foto</h2>
        <h2 class="teal-text accent-4-text" ng-if="edit">Presiona la camara para tomar la foto</h2>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
