<ion-view cache-view="false" title="Asignacion Piscina">
	  <ion-header-bar class="bar-subheader headerbar item-input-inset row">
	      <div class="input-field col s12">
	        <i class="ion-search prefix"></i>
	        <input type="text" name="buscar" class="white-text" placeholder="Buscar" ng-model="search" >
	      </div>
	  </ion-header-bar>
	<ion-content overflow-scroll=”true”>
      <ion-refresher
       pulling-text ="Refrescar"
       on-refresh="reload()"
       refreshingText="Refrescando"
       >
     </ion-refresher>
		<ion-list>
		  <ion-item collection-repeat="piscina in piscinas|filter:search" class="collection-item">
				<div class="">
					<h2>{{piscina.nombre}}</h2>
						<p>
								<b>Cliente:</b> {{piscina.casa__cliente__first_name}} {{piscina.casa__cliente__last_name}} <br>
								<b>Casa:</b>  {{piscina.casa__direccion}} <br>
								<b>Estado:</b> <b class="light-blue-text" ng-show="piscina.estado">Buen Estado</b> <b class="red-text" ng-show="!piscina.estado">Reportada</b>
						</p>
						<b class="teal-text lighten-1-text">Asignada:</b>
							<div class="secondary-content">
								<div class="switch">
									<label for="piscina{{piscina.id}}">
										No
										<input type="checkbox"  id="piscina{{piscina.id}}" ng-model="piscina.check" ng-change="asignar(piscina.id, piscina)"/>
										<span class="lever"></span>
										Si
									</label>
								</div>
							</div>
				</div>
		  </ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
