<ion-view cache-view="false" title="Ruta de piscinero">
	<ion-content>
    <ion-refresher
     pulling-text ="Refrescar"
     on-refresh="reload()"
     refreshingText="Refrescando"
     >
   </ion-refresher>
		<ion-list>
		  <ion-item collection-repeat="item in items" item="item">
				<div class="row row-n">
					<div class="col s9">
						<h2> <b class="teal-text accent-4-text">#{{$index + 1}}</b> Piscina {{ item.nombreP }} <b>Tipo</b> {{ item.tipo }}</h2>
						<p>
							<b>Ancho</b> {{ item.ancho }} <b>Largo</b> {{ item.largo }} <b>Profundidad</b> {{ item.profundidad }}
							<br>
							<b>Cliente: </b> {{ item.nombreCF }} {{ item.nombreCL }}<br>
						</p>
					</div>
					<div class="col s3 center">
							<button class="btn-floating btn-large center" ng-class="{'cyan': item.planilla==null, 'teal': item.planilla!==null && item.salida==null && item.espera==null, 'red':item.planilla!==null && item.espera!==null, 'lighten-2':item.planilla!==null && item.espera!==null, 'accent-4':item.planilla!==null && item.salida==null && item.espera==null, 'light-blue':item.planilla!==null && item.salida!==null, 'no-shadow':item.planilla!==null && item.salida!==null, 'waves-effect': item.salida==null, 'waves-light':item.salida==null}">
								<i class="micon white-text" ng-if="item.planilla!==null && item.salida!==null">done_all</i>
								<i class="micon white-text" ng-if="item.planilla!==null && item.salida==null && item.espera==null" ng-click="enviarEdit(item)">done</i>
								<i class="micon white-text" ng-if="item.planilla!==null && item.espera!==null" ng-click="editarPlanilla(item)">edit</i>
								<i class="micon white-text" ng-if="item.planilla==null" ng-click="abrirModal(item)">content_paste</i>
							</button>
					</div>
				</div>
		  </ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
