/* Empty. Add your own CSS if you like */

.error-container {
    margin: 5px 0;
}
.error-container:last-child {
    margin: 5px 0 0;
}
.error {
    padding: 10px 16px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #E57373;
    vertical-align: middle;
}
.error i {
    font-size: 24px;
    color: #E57373;
    vertical-align: middle;
}
.last-error-container> .error {
    padding: 10px 16px 0;
}
.has-errors {
    border-bottom: 3px solid #E57373 !important;
}
.no-errors {
    border-bottom: 3px solid #81C784 !important;
}
.spinner svg {
    stroke: #00bcd4;
}
div.spin {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 85px;
    text-align: center;
    stroke: #00bcd4;
}
div.spin2 {
    margin: auto;
    position: relative;
    top: calc(25%+ 30px);
    left: 0;
    bottom: 0;
    right: 0;
    height: 60px;
    text-align: center;
    stroke: #00bcd4;
}
.spin svg, .spin2 svg {
    width: 19% !important;
    height: 60px !important;
}
. fancy-select .list {
    margin: -1px 0;
}

/* Items */


/* line 13, ../scss/modules/_fancy-select.scss */

.fancy-select-items {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
}

/* line 19, ../scss/modules/_fancy-select.scss */

.fancy-select-items .item {
    overflow: hidden;
    /* Clearfix */
}

/* line 24, ../scss/modules/_fancy-select.scss */

.fancy-select-items label p {
    height: 32px;
    line-height: 32px;
}

/* line 29, ../scss/modules/_fancy-select.scss */

.fancy-select-icon {
    float: left;
    margin-right: 10px;
    width: 30px;
    text-align: center;
}
map {
    display: block;
    width: 100%;
    height: 100%;
}
.medio {
    height: 50%;
}
.over {
    overflow: scroll;
}

/*.scroll {
    height: 100%;
}*/

.icon {
    font-size: 20pt;
}
.headerbar {
    background-color: #00bcd4;
    color: white !important;
}
.headerbar button, h1 {
    color: white !important;
}
.full {
    width: 100%;
    margin-bottom: 5px;
}
.action-title {
    position: absolute;
    margin-top: 5px;
    right: 55px;
    background: #FFF;
    padding: 3px;
    border-radius: 4px;
    box-shadow: 0px 1px 10px;
    font-weight: 500;
    color: #00bcd4;
    transition: .3s;
}
.badge-x {
    position: absolute;
    color: #fff;
    background-color: #ef473a;
    z-index: 1;
    display: inline-block;
    padding: 1px 5px;
    min-width: 14px;
    border-radius: 2px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    right: 1px;
}
.active {
    color: #0097a7 !important;
}
input[type=text]:focus {
    border-bottom: 1px #0097a7 !important;
    box-shadow: 0 1px 0 0 #0097a7 !important;
}
textarea:focus {
    border-bottom: 1px #0097a7 !important;
    box-shadow: 0 1px 0 0 #0097a7 !important;
}

/* label color */

.input-field label {
    color: #455A64;
}

/* label focus color */

.input-field input[type=text]:focus+ label {
    color: #0097a7;
}

/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #0097a7;
    box-shadow: 0 1px 0 0 #0097a7;
}
.input-field input[type=number]:focus {
    border-bottom: 1px solid #0097a7;
    box-shadow: 0 1px 0 0 #0097a7;
}
.input-field textarea:focus+ label {
    color: #0097a7;
}
.input-field textarea:focus {
    border-bottom: 1px solid #0097a7;
    box-shadow: 0 1px 0 0 #0097a7;
}
input[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #00bcd4;
    z-index: 0;
}
input[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #00bcd4;
}
input[type="checkbox"]:checked+label:before {
    border-right: 2px solid #00bcd4;
    border-bottom: 2px solid #00bcd4;
}
.input-search {
    border-bottom: 1px solid #ffffff !important;
}

/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #81C784;
    box-shadow: 0 1px 0 0 #81C784;
}
.input-field textarea.valid {
    border-bottom: 1px solid #81C784;
    box-shadow: 0 1px 0 0 #81C784;
}

/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #E57373;
    box-shadow: 0 1px 0 0 #E57373;
}
.input-field textarea.invalid {
    border-bottom: 1px solid #E57373;
    box-shadow: 0 1px 0 0 #E57373;
}

/* icon   focus color */

.input-field .prefix.active {
    color: #212121;
}
.input-field .prefix2 {
    top: 10px;
    left: 14px;
}
.popup-container {
    background: rgba(0, 0, 0, 0.4);
}
.bar-footer {
    height: 56px;
}
button:focus {
    background-color: background-color: #0097a7 !important;
}
.centrar {
    text-align: center !important;
}
.footer-b {
    padding: 0px;
    height: 117px;
}
.footer-f {
    padding: 0px;
    height: 63px;
    bottom: 0;
    border-top-width: 1px;
    border-bottom-width: 0;
    background-position: top;
}
.footer-r {
    padding: 0px;
    height: 71px;
    bottom: 0;
    border-top-width: 1px;
    border-bottom-width: 0;
    background-position: top;
}
.scroll2 {
    overflow: auto;
    width: 94%;
    /* height: 300px; */
    position: fixed;
    bottom: 0px;
    top: 0px;
    padding-bottom: 60px;
}
.row-p {
    display: block;
    padding: 0;
    /*margin-bottom: 0px;*/
}

.row-n {
    display: block;
    padding: 0;
    margin-bottom: 0;
}

.row-n i.center{
  margin-top: 20px;
}

.col-p {
    margin: 0 auto;
    float: none !important;
}
.content-b {
    height: calc(100% - 150px);
}
.foto-cont {
    height: 53px;
    display: table;
}
.foto-cont p {
    vertical-align: middle;
    display: table-cell;
    height: 30px;
}
.ion-input-select--large, .ion-input-select, select {
    /*-webkit-appearance:none;*/
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    border: thin solid #dddddd;
    font-weight: 300;
    display: inline;
    vertical-align: middle;
    color: #333;
    padding: auto 0;
    overflow: hidden;
    box-sizing: border-box;
}
.ion-input-select--large {
    width: 420px;
    font-size: 1.6rem;
    /*background-image: url(http://i.imgur.com/7rGM4IX.png);*/
    text-indent: 40px;
    padding: 1.2rem 0;
}
.ion-input-select {
    width: 100%;
    font-size: 1rem;
    /* background-image: url(http://i.imgur.com/nA9xx1X.png);*/
    text-indent: 20px;
    padding: .5rem 0;
}
.label-select {
    top: -2rem !important;
}
option {
    background: #444;
}
select::-ms-expand {
    display: none;
}
.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add, .list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

/*
:focus {
  outline:none;
}*/

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.fade-g {
    opacity: 0;
    /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.fade-g.ng-leave, .fade-g> .ng.leave {
    opacity: 1;
    /* make things invisible upon start */
    -webkit-animation: fadeOut ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeOut ease-in 1;
    animation: fadeOut ease-in 1;
    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.input-header {
    top: -15px;
}
.galeria-up {
    height: 360px;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}
.galeria-down {
    height: calc(100% - 360px);
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}
.scrollR {
    overflow: auto;
    width: 100%;
    bottom: 0px;
    top: 0px;
    padding-top: 140px;
    padding-bottom: 60px;
    position: fixed;
    z-index: -1;
}
.fecha-font {
    font-size: 10px;
    color: #9e9e9e;
}
.logo {
    background-image: url('../img/icon.png');
    width: 100%;
    height: 170px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 1px;
}
.logo-t {
    background-image: url('../img/Icono-f-t.png');
    width: 100%;
    height: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 1px;
}
.logo-e {
    background-image: url('../img/EXILE-small.png');
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 1px;
}
.login-content {
    padding-top: 70px;
}
.content-center {
    width: 90%;
    align-items: center;
    align-content: center;
    height: 100%;
    align-self: center;
    justify-content: center;
}
.content-logo {
    position: relative;
    top: calc( 50% - 209px);
}
.no-scroll {
    overflow: hidden;
}
progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0, 0, 0, .1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)), -webkit-linear-gradient(left, #09c, #f44);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
.cardX {
    margin: 20px 10px !important;
}
.card-r {
    padding: 20px;
    margin-bottom: 10px;
}

.delete-g{
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 2px;
}

.no-shadow{
    box-shadow: none;
}

.void-l{
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
}
